# .github/workflows/build.yaml
name: test
on: [push, pull_request]

jobs:
  job-test-ex00:
    runs-on: ubuntu-latest
    name: Test ex00
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: make ex00
      working-directory: ./ex00
      run: make fclean && make test

    - name: make test
      working-directory: ./ex00
      # run: ls bin *_test* | xargs -L 1 -d '\n'
      run: |
        BIN_DIR="./bin"
                  
        # For each executable file in the folder
        find "$BIN_DIR" -type f -name '*_test' -print0 | while IFS= read -r -d $'\0' bin_path; do
          # Skip non-executable file
          [ -x "$bin_path" ] || continue

          # Execute the binary
          echo "Running: $bin_path"
          "$bin_path"

          # Check result
          if [ $? -ne 0 ]; then
            echo "Error running $bin_path"
            exit 1
          fi
        done
